<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css files -->
    <link rel="stylesheet" href="/cssFiles/index.css">
    <link rel="stylesheet" href="/cssFiles/roomsCssFiles/index.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <title>rooms</title>
</head>
<body>
    <div class="rooms">
        <div class="arts">Arts</div>
        <div class="sports">Sports</div>
    </div>

    <div class="send-form">
        <form >
            <input type="text" name="msg" placeholder="Your Massge">
            <div class="button">Send</div>
        </form>
    </div>

    <div class="massg-container">
        <div class="mssge">
            <h3>Ahmed El-Amoar: </h3>
            <p>Hi Salem I'm Ahmed Do You remember me</p>
        </div>
    </div>
    <script src="/jsFiles/roomsJsFiles.js/index.js"></script>
</body>
</html>